h1 { font-style: normal;}
h1 {font-family: Arial, Helvetica, sans-serif;}
h1 {text-align: center;}
nav { font-family: Arial, Helvetica, sans-serif;}
nav{text-align: center;}
div {font-family: Arial, Helvetica, sans-serif;}
div {text-align: center;}
div {font-size: x-large;}
nav {font-size: larger;}
nav {line-height: 1cm;}
.div1 {
    width:500px;
    height:400px;
    display: table-cell;
    vertical-align: middle;
}
.div1 img  {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
div {line-height: 2.5cm;}